<div class="consumption-details">
  <p><b>Last measured:</b><br />
    <b>{{ dateLong }}</b></p>
  <p><b>Status:</b></p>

  <div id="consumption-progress">
    <div id="consumption-progress-bar"></div>
  </div>

  <br />

  <ul>
    <li class="fa fa-lg fa-clock-o">&nbsp;XX days<br />
      &nbsp;&nbsp;&nbsp;to go into your new bundle
    </li>
  </ul>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <h1>You are doing great!</h1>

  <button (click)="overview()">Watch your consumption &gt;</button>
</div>
