<div class="consumption-details">
  <p><b>Last measured:</b><br />
    <b>{{ dateLong }}</b></p>
  <p><b>Status:</b></p>

  <div id="consumption-progress">
    <div id="consumption-progress-bar"></div>
  </div>
  <br />

  <ul style="list-style-type: none;">
    <i class="fa fa-lg fa-clock-o" aria-hidden="true" style="display: inline"></i>  <li style="font-family: 'Roboto', sans-serif;text-transform: uppercase;display: inline;">{{daysLeft}} days to go into your new bundle
    </li>
  </ul>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <h1>Hey {{username}}! You are doing great! Keep on going!</h1>

  <button (click)="overview()">Watch your consumption &gt;</button>
</div>
