
<!-- Page Wrapper -->
<div id="page-wrapper">

  <!-- Header -->
  <header id="header">
    <h1><a href="/">Clear-Energy <span>by Energy! at the Blockchain Hackathon</span></a></h1>
  </header>

  <router-outlet></router-outlet>

  <!-- Footer -->
  <section id="footer">
    <div class="inner">
      <section>
        <h3>Get in Touch</h3>
        <ul class="contact">
          <a href="mailto:info@clear-energy.nl"><li class="fa-envelope"></li></a>
          <a href="https://twitter.com/clear_energy_" target="_blank"><li class="fa-twitter"></li></a>
          <a href="https://www.facebook.com/Clear-Energy-150764052098829/" target="_blank"><li class="fa-facebook"></li></a>
        </ul>
      </section>
    </div>
    <div class="copyright">
      <p>Copyright &copy; Energy! All rights reserved.</p>
    </div>
  </section>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
