<!-- Main -->
<div id="main">

  <section id="one" class="features">
    <header class="major">
      <h2>Your action Dashboard</h2>
      <p>Here you can make a difference <br>for yourself and environment</p>
    </header>
    <div class="content dark-background" style="padding: 10px 50px 0px 50px">
        <p>Feb 12, 2017</p>
    </div>

    <div class="content dark-background" style="padding: 0px 50px 0px 50px">
        <p class="huge-text">Energy Sources</p>
    </div>
    <div class="content green padded huge-text">
      <p>Based on the composition of your power, we recommend <br />
      you to switch your following home appliances</p>
    </div>
    <div class="content black padded">
      <p>Based on you:</p>
    </div>
    <div class="content green padded-cards">
      <div class="row uniform" style="width: 100%">
        <div class="2u 12u$(xsmall) center">
          <md-card>
            <img src="images/noun_243432_cc.svg" style="width: 80%">
            <div>Washer</div>
            <label class="switch">
              <input type="checkbox" checked>
              <div class="slider round"></div>
            </label>
          </md-card>
        </div>
        <div class="2u 12u$(xsmall) center">
          <md-card>
            <img src="images/noun_243432_cc.svg" style="width: 80%">
            <div>Dryer</div>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </md-card>
        </div>
        <div class="2u 12u$(xsmall) center">
          <md-card>
            <img src="images/noun_243433_cc.svg" style="width: 80%">
            <div>Heating</div>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </md-card>
        </div>
        <div class="2u 12u$(xsmall) center">
          <md-card>
            <img src="images/noun_243434_cc.svg" style="width: 80%">
            <div>Micro</div>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </md-card>
        </div>
        <div class="2u 12u$(xsmall) center">
          <md-card>
            <img src="images/noun_243437_cc.svg" style="width: 80%">
            <div>Music</div>
            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
          </md-card>
        </div>
        <div class="2u$ 12u$(xsmall) center">
          <md-card>
            <img src="images/noun_243438_cc.svg" style="width: 80%">
            <div>Airco</div>
            <label class="switch">
              <input type="checkbox" checked>
              <div class="slider round"></div>
            </label>
          </md-card>
        </div>
      </div>
    </div>
    <div class="content green padded">
      <a class="green" href="/consumption">&lt; GO TO DASHBOARD</a>
    </div>
  </section>

</div>
