
<!-- Main -->
<div id="main">

  <section id="transactions" class="default">
    <header class="major">
      <h2>Transactions</h2>
      <p>Here you can see all your transactions<p>
    </header>
    <div class="content">
    <div class="table-wrapper">
      <table class="alt">
        <thead>
        <tr>
          <th>id</th>
          <th>transactionType</th>
          <th>sender</th>
          <th>receiver</th>
          <th>eunit</th>
          <th>device</th>
          <th>etype</th>
          <th>co2</th>
          <th>timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{transaction.id}}</td>
          <td>{{transaction.transactionType}}</td>
          <td>{{transaction.sender.userID}}</td>
          <td>{{transaction.receiver.userID}}</td>
          <td>{{transaction.eunit}}</td>
          <td>{{transaction.device.id}}</td>
          <td>{{transaction.etype}}</td>
          <td>{{transaction.co2}}</td>
          <td>{{transaction.timestamp | date: "dd-MM-yyyy hh:mm:ss"}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
  </section>
</div>
