<!-- Main -->
<div id="main">

<section id="one" class="features">
  <header class="major">
    <h2>Consumption Dashboard</h2>
    <p>Here is your insight<br>  Usage for this and the previous month is shown</p>
  </header>
  <div class="content">
    <section class="feature">
        <app-consumption-text></app-consumption-text>
        <hr>
        <app-general-consumption></app-general-consumption>
    </section>
    <section class="feature">
        <app-consumption-details></app-consumption-details>
    </section>
  </div>
</section>

</div>
