<div class="row uniform">
  <h2><b style="color:#000000">Grey energy sources</b></h2>
  <div class="9u 12u$(xsmall)">
    <div class="donut">
    <canvas baseChart
            [data]="greyChartData"
            [labels]="greyChartLabels"
            [chartType]="greyChartType"
            [colors]="backgroundColor"
            [options]="greyChartOptions"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="9u 12u$(xsmall)">
    <div class="consumption-text">
      <div class="row uniform">
        <div class="2u 12u$(xsmall)"></div>
        <div class="4u 12u$(xsmall)">
          <p><b style="color:#000000">CO<sub>2</sub> saved:</b></p>
        </div>
        <div class="2u 12u$(xsmall)"></div>
        <div class="4u 12u$(xsmall)">
          <p><b style="color:#AD95D8"> {{greyco}} g</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
